<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Username" value="iBan" />
    <add key="PublicFolder" value="\\hqfs1\Public\IT\QA\Pictures\" />
    <add key="IsStreetNumberGenerated" value="false" />
    <add key="StreetNumber" value="409" />
    <!-- URLs -->
    <add key="BuildENV" value="http://www.yahoo.com" />
    <add key="ValPortal" value="valuation.res.net" />
    <add key="ValClientPortal" value="client.usres.com" />
    <add key="PropertyCure" value="propertycure.res.net" />
    <add key="AgentPortal" value="agent.res.net" />
    <add key="VendorPortal" value="vendor.res.net" />
    <add key="REOPortal" value="reo2.res.net" />
    <add key="LossMitPortal" value="shortsale.res.net" />
    <add key="BuyerPortal" value="buyer.res.net" />
    <add key="HomeOwnerPortal" value="homeowner.res.net" />
    <!-- QA Login Credentials -->
    <add key="QAREOPortalUsername" value= "Yeshh1" />
    <add key="QAREOPortalpassword" value="Yeshh1" />
    <add key="QAREOClientId" value="7224" />
    <add key="QAValPortalUsername" value="test" />
    <add key="QAValPortalPassword" value="P@ssw0rd1" />
    <add key="QAAgentPortalUsername" value="QATest23@usres.com" />
    <add key="QAAgentPortalPassword" value="blue123" />
    <add key="QAAgentSourceId" value="250922" />
    <add key="QAVendorPortalUsername" value="qaappraisalvendor" />
    <add key="QAVendorPortalPassword" value="P@ssw0rd1" />
    <add key="QAVendorSourceId" value="30005" />
    <!-- UAT Login Credentials -->
    <add key="UATREOPortalUsername" value= "Yeshh1" />
    <add key="UATREOPortalpassword" value="Yeshh1" />
    <add key="UATREOClientId" value="7224" />
    <add key="UATValPortalUsername" value="bryan" />
    <add key="UATValPortalPassword" value="qatest10" />
    <add key="UATAgentPortalUsername" value="QATest25@usres.com" />
    <add key="UATAgentPortalPassword" value="blue123" />
    <add key="UATAgentSourceId" value="250418" />
    <!-- STG Login Credentials -->
    <add key="STGREOPortalUsername" value= "acmetester" />
    <add key="STGREOPortalpassword" value="acmetester" />
    <add key="STGREOClientId" value="7224" />
    <add key="STGValPortalUsername" value="bryan" />
    <add key="STGValPortalPassword" value="P@ssw0rd1" />
    <!--add key="STGAgentPortalUsername" value="QATest27@usres.com" />
    <add key="STGAgentPortalPassword" value="blue123" />
    <add key="STGAgentSourceId" value="318927" /-->    
    <add key="STGShortSaleUsername" value="qaservicer" />
    <add key="STGShortSalePassword" value="Pr0dPa$$02316" />
    <add key="STGAgentPortalUsername" value="qatestproplus3" />
    <add key="STGAgentPortalPassword" value="Pr0dPa$$02316" />
    <add key="STGAgentSourceId" value="78832" />
    <!-- PROD Login Credentials -->
    <add key="PRODREOPortalUsername" value= "xxx" />
    <add key="PRODREOPortalpassword" value="xxx" />
    <add key="PRODREOClientId" value="xxx" />
    <add key="PRODValPortalUsername" value="xxx" />
    <add key="PRODValPortalPassword" value="xxx" />
    <add key="PRODAgentPortalUsername" value="xxx" />
    <add key="PRODAgentPortalPassword" value="xxx" />
    <add key="PRODAgentSourceId" value="xxx" />
    <add key="PRODShortSaleUsername" value="xxx" />
    <add key="PRODShortSalePassword" value="xxx" />
  </appSettings>
</configuration>