<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Username" value="iBan" />
    <add key="PublicFolder" value="\\\\hqfs1\\Public\\IT\\QA\\Pictures\\" />
    <add key="BuildENV" value="http://www.yahoo.com" />
    <add key="ValPortal" value="valuation.res.net" />
    <add key="ValClientPortal" value="client.usres.com" />
    <add key="PropertyCure" value="propertycure.res.net" />
    <add key="AgeentPortal" value="agent.res.net" />
    <add key="VendorPortal" value="vendor.res.net" />
    <add key="REOPortal" value="reo2.res.net" />
    <add key="LossMitPortal" value="shortsale.res.net" />
    <add key="BuyerPortal" value="buyer.res.net" />
    <add key="HomeOwnerPortal" value="homeowner.res.net" />
  </appSettings>
</configuration>